@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700;900&display=swap');
body{font-family: 'Noto Sans KR', sans-serif;}
.wrap{overflow: hidden;}

#header{background: rgba(10,23,78,0.9);overflow: hidden;height: 80px;position: fixed;left: 0;top: 0;width: 100%;z-index: 10;display:none;}
#header .header_inner{width: 1250px;margin:0 auto;}
#header h1{float:left;margin-top: 20px;}
#header h1 img{width: 80px;height: 40px;}
#header .header_right{float:right;}
#header .header_right li{float:left;line-height: 80px;}
#header .header_right li a{padding: 0px 20px;color:#fff;}
#header .header_right li.on a{color:#F5D042;}
#header .header_right li:last-child a{padding-right: 0;}
#header .m_menu{float:right;display:none}
#header .m_menu a{font-size:40px;line-height: 80px;color:#F5D042;}
#home{height: 700px;background: url("../images/bg1.webp")no-repeat;background-size: cover;width: 100%;position: relative;}
#home .main_txt{width: 100%;height: 400px;position: absolute;left: 50%;top: 50%;transform: translate(-50%,-50%); text-align: center;display:none;}
/* #home .main_txt::before{content: '';width: 130px;height: 15px;background: #fff;position: absolute;left: -10px;bottom: -15px;transform: rotate(-45deg);transform-origin: left center;}
#home .main_txt::after{content: '';width: 130px;height: 15px;background: #fff;position: absolute;right: -10px;top: -15px;transform: rotate(-45deg);transform-origin: right center;} */
/* #home .main_txt .txt_deg{left: 10px;position: relative;} */
#home .main_txt h2{font-size:80px;color:#fff;margin: 100px 0px 20px;font-weight: 800;}
#home .main_txt h3{font-size:50px;color:#fff;margin-bottom: 20px;font-weight: 800;}
#home .main_txt p{font-size:12px;color:#fff;}
/* #about_me{height: 500px;} */
#skill{background: #1E4174;overflow: hidden;padding: 100px 0px;}
#skill .skill_inner{width: 1250px;margin:0 auto;overflow: hidden;}
#skill h2{margin: 20px 0px;text-align: center;color:#F5D042;font-size:20px;font-weight: 700;}
#skill .skill_left{float:left;width: 50%;}
#skill .skill_bar{margin:0 auto;width: 600px;}
#skill .skill_bar .skill_box{background: #eee;width:600px;margin-bottom: 50px;}
#skill .skill_bar .skill_box .skill_box_bar{background: #F5D042;color:#fff;height: 25px;position: relative;line-height: 25px;padding-left: 25px;box-sizing: border-box;}
#skill .skill_bar .skill_box .skill_box_bar span{color:#fff;float:right;width: 50px;height: 30px;background: #000;border-radius: 15px;text-align: center;line-height: 30px;position: absolute;right: -25px;top: 50%;transform: translateY(-50%);}
/* #skill .skill_bar .html{width: 200px;height: 20px;} */
#skill .skill_bar .html .html_bar{width: 90%;animation: html_ani 2s ease;animation-fill-mode: forwards;}
#skill .skill_bar .css3 .css3_bar{width: 90%;animation: html_ani 2s ease;animation-fill-mode: forwards;}
#skill .skill_bar .javascript .javascript_bar{width: 60%;animation: java_ani 2s ease;animation-fill-mode: forwards;}
#skill .skill_bar .jquery .jquery_bar{width: 80%;animation: jquery_ani 2s ease;animation-fill-mode: forwards;}
#skill .skill_bar .photoshop .photoshop_bar{width: 85%;animation: photo_ani 2s ease;animation-fill-mode: forwards;}
#skill .skill_bar .illust .illust_bar{width: 70%;animation: illust_ani 2s ease;animation-fill-mode: forwards;}
@keyframes html_ani{
    0%{width: 0;}
    100%{width: 90%;}
}
@keyframes java_ani{
    0%{width: 0;}
    100%{width: 50%;}
}
@keyframes jquery_ani{
    0%{width: 0;}
    100%{width: 80%;}
}
@keyframes photo_ani{
    0%{width: 0;}
    100%{width: 85%;}
}
@keyframes illust_ani{
    0%{width: 0;}
    100%{width: 70%;}
}
#skill .skill_right{float:right;width: 500px;}
#skill .skill_right ul{background: #fff;width: 500px;height: 200px;margin:0 auto;padding: 10px;box-sizing: border-box;}
#skill .skill_right ul li{padding: 22px 0px;font-weight: bold;}
#skill .skill_right ul li span{float:right;}

#myworks{margin-bottom: 50px;overflow: hidden;padding: 100px 0;}
#myworks h2{margin:30px 0px 60px;text-align: center;font-size:30px;color:#1E4174;font-weight: 700;}
#myworks .pofol_list{text-align: center;margin: 30px 0px 60px;}
#myworks .pofol_list li{display:inline-block;border:2px solid #1E4174;padding: 0px 20px;height: 30px;line-height: 30px;border-radius: 15px;margin: 0px 5px;width: 200px;}
#myworks .pofol_list li a{color:#1E4174;font-weight: bold;}
#myworks .pofol_list li.on a{color:#fff;}
#myworks .pofol_list li.on{background: #1e4174;}

/* #myworks .pofol_screen{width: 1250px;margin: 0 auto;border:1px solid red;} */
#myworks .pofol_screen .pofol_view{width: 800px;margin:0 auto;}
#myworks .pofol_screen .pofol_view .view_list{display:none;}
#myworks .pofol_screen .pofol_view .view_list .view{display:block; width: 800px;height: 600px; background: url("../images/respon1.jpg") no-repeat center top; background-size: cover;margin:0 auto}
#myworks .pofol_screen .pofol_view .view_img2 .view{display:block; width: 800px;height: 600px; background: url("../images/respon2.jpg") no-repeat center top; background-size: cover;margin:0 auto}

#myworks .pofol_screen .pofol_view .view_list span{display:block;text-align: center;font-size:30px;}
#myworks .pofol_screen .pofol_view h3{text-align: center;margin: 20px 0px 30px;}

#myworks .pofol{width: 100%;}
#myworks .pofol li{width: 25%;  box-sizing: border-box;float:left;position: relative;transition: all 2s ease;transform: scale(1);transition: all 1s ease;}
#myworks .pofol li.on{width: 25%;  box-sizing: border-box;float:left;position: relative;transition: all 2s ease;transform: scale(0);transition: all 1s ease;}
/* #myworks .pofol li a{transition: all 1s ease;} */
#myworks .pofol li a::before{content: '';background: #0009;width: 100%;height: 100%;position: absolute;left: 0;top: 0;opacity: 0;}
#myworks .pofol li:hover a::before{opacity: 1;}
#myworks .pofol li .cover{display: block;width: 100%;height:100%;position: absolute;left: 0;top: 0;transform: scale(0.8);}
#myworks .pofol li .cover .cover_left_top{position: absolute;left: 0;top: 0;width: 0px;background: #fff;height: 1px;transition: all 1s ease;}
#myworks .pofol li .cover .cover_left_bottom{position: absolute;left: 0;bottom: 0;width: 1px;background: #fff;height: 0px;transition: all 1s ease;}
#myworks .pofol li .cover .cover_right_top{position: absolute;right: 0;top: 0;width: 1px;background: #fff;height: 0px;transition: all 1s ease;}
#myworks .pofol li .cover .cover_right_bottom{position: absolute;right: 0;bottom: 0;width: 0px;background: #fff;height: 1px;transition: all 1s ease;}
#myworks .pofol li .cover .search{opacity: 0;text-align: center;transition: all 0.5s ease;position: absolute;left: 50%;top: 50%;transform: translate(-50%,-50%);}
#myworks .pofol li .cover .search em{font-size:20px;}
#myworks .pofol li:hover .cover .cover_left_top{width: 100%;}
#myworks .pofol li:hover .cover .cover_left_bottom{height: 100%;}
#myworks .pofol li:hover .cover .cover_right_top{height: 100%;}
#myworks .pofol li:hover .cover .cover_right_bottom{width: 100%;}
#myworks .pofol li:hover .cover .search{position: absolute;left: 50%;top: 50%;display:block;font-size:50px;color:#fff;opacity: 1;transform: translate(-50%,-50%);}
#myworks .pofol .pofol1 a{display:block;width: 100%;height: 350px;background: url("../images/respon1.jpg")no-repeat center top;background-size: cover;}
#myworks .pofol .pofol2 a{display:block;width: 100%;height: 350px;background: url("../images/respon2.jpg")no-repeat center top;background-size: cover;}
#myworks .pofol .pofol3 a{display:block;width: 100%;height: 350px;background: url("../images/respon3.jpg")no-repeat center top;background-size: cover;}
#myworks .pofol .pofol4 a{display:block;width: 100%;height: 350px;background: url("../images/mobile1.jpg")no-repeat center top;background-size: cover;}
#myworks .pofol .pofol5 a{display:block;width: 100%;height: 350px;background: url("../images/mobile2.jpg")no-repeat center top;background-size: cover;}
#myworks .pofol .pofol6 a{display:block;width: 100%;height: 350px;background: url("../images/mobile3.jpg")no-repeat center top;background-size: cover;}
#myworks .pofol .pofol7 a{display:block;width: 100%;height: 350px;background: url("../images/mobile4.jpg")no-repeat center top;background-size: cover;}
#myworks .pofol .pofol8 a{display:block;width: 100%;height: 350px;background: url("../images/mobile5.jpg")no-repeat center top;background-size: cover;}
#myworks .pofol .pofol9 a{display:block;width: 100%;height: 350px;background: url("../images/web1.jpg")no-repeat center top;background-size: cover;}
#myworks .pofol .pofol10 a{display:block;width: 100%;height: 350px;background: url("../images/web2.jpg")no-repeat center top;background-size: cover;}
#myworks .pofol .pofol11 a{display:block;width: 100%;height: 350px;background: url("../images/web3.jpg")no-repeat center top;background-size: cover;}
#myworks .pofol .pofol12 a{display:block;width: 100%;height: 350px;background: url("../images/web4.jpg")no-repeat center top;background-size: cover;}
#myworks .pofol .pofol13 a{display:block;width: 100%;height: 350px;background: url("../images/web5.jpg")no-repeat center top;background-size: cover;}
#myworks .pofol .pofol14 a{display:block;width: 100%;height: 350px;background: url("../images/web6.jpg")no-repeat center top;background-size: cover;}
#myworks .pofol .pofol15 a{display:block;width: 100%;height: 350px;background: url("../images/web7.jpg")no-repeat center top;background-size: cover;}
#myworks .pofol .pofol16 a{display:block;width: 100%;height: 350px;background: url("../images/web8.jpg")no-repeat center top;background-size: cover;}

#contact{clear:both;width: 100%;background: url("../images/B2GZ7wg.jpg")no-repeat center top fixed; background-size: cover;}
#contact .contact_inner{width: 1200px;margin:0 auto;text-align: center;height: 500px;}
#contact .contact_inner h2{color:#fff;position: relative;padding-top: 150px;line-height: 2;font-size:30px}

@media screen and ( max-width:1500px ){
    #header .header_inner{width: 100%;margin:0 auto;padding: 0px 50px;box-sizing: border-box;}
    #skill .skill_inner{width: 100%;padding: 0px 50px;box-sizing: border-box;}
    #myworks .pofol li{width: 33.3%;  box-sizing: border-box;float:left;position: relative;transition: all 2s ease;transform: scale(1);transition: all 1s ease;}
    #myworks .pofol li.on{width: 33.3%;  box-sizing: border-box;float:left;position: relative;transition: all 2s ease;transform: scale(0);transition: all 1s ease;}
    #contact .contact_inner{width: 100%;margin:0 auto;text-align: center;height: 500px;}

}
@media screen and ( max-width:1220px ){
    #header .header_right{display:none;}
    #header .m_menu{float:right;display:block;}
    #header .m_menu a{font-size:40px;line-height: 80px;color:#F5D042;}
    #skill .skill_left{float:left;width: 100%;}
    #skill .skill_right{float:right;width: 100%;}
    #skill .skill_right ul{width: 600px;}
    #myworks .pofol_list li{display:inline-block;border:2px solid #1E4174;padding: 0px 20px;height: 30px;line-height: 30px;border-radius: 15px;margin: 0px 5px;width: 100px;}
    #myworks .pofol li{width: 50%;  box-sizing: border-box;float:left;position: relative;transition: all 2s ease;transform: scale(1);transition: all 1s ease;}
    #myworks .pofol li.on{width: 50%;  box-sizing: border-box;float:left;position: relative;transition: all 2s ease;transform: scale(0);transition: all 1s ease;}
}
@media screen and ( max-width:700px ){
    #header{height: 60px;}
    #header h1{margin-top: 15px;}
    #header h1 img{width: 60px;height: 30px;}
    #header .m_menu a{font-size:30px;line-height: 60px;color:#F5D042;}
    #header .header_inner{width: 100%;margin:0 auto;padding: 0px 20px;box-sizing: border-box;}
    #skill .skill_inner{width: 100%;padding: 0px 20px;box-sizing: border-box;}
    #skill{padding-top: 80px;}
    #skill .skill_bar{width: 100%;}
    #skill .skill_bar .skill_box{background: #eee;width:100%;margin-bottom: 20px;}
    #skill .skill_bar .skill_box .skill_box_bar span{color:#fff;float:right;width: 40px;height: 30px;background: #000;border-radius: 15px;text-align: center;line-height: 30px;position: absolute;right: -25px;top: 50%;transform: translateY(-50%);font-size:10px;}
    #skill .skill_right{float:right;width: 100%;margin-top: 80px;}
    #skill .skill_right ul{width: 100%;}
    #skill .skill_right ul li{font-size:12px;}
    #myworks{padding-top: 80px;}
    #myworks .pofol_list{margin:0 auto;width: 100%;}
    #myworks .pofol_list li{display:block;width: 200px;margin:20px auto 20px;}
    #myworks .pofol_list li:last-child{margin-bottom: 80px;}
    #myworks .pofol li{width: 100%;  box-sizing: border-box;float:left;position: relative;transition: all 2s ease;transform: scale(1);transition: all 1s ease;}
    #myworks .pofol li.on{width: 100%;  box-sizing: border-box;float:left;position: relative;transition: all 2s ease;transform: scale(0);transition: all 1s ease;}
}
@media screen and ( max-width:499px ){
    #skill .skill_right ul li{font-size:10px;}
    #home .main_txt h2{font-size:60px;color:#fff;margin: 100px 0px 20px;font-weight: 800;}
    #home .main_txt h3{font-size:30px;color:#fff;margin-bottom: 20px;font-weight: 800;}
    #home .main_txt p{font-size:12px;color:#fff;}
}